h3{
    background-color: bisque;
    font-size: 28px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}
.center{
    width: 400px;
    background-color: burlywood;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 50px;
}
img{
    width: 400px;
    display: block;
    margin: auto;
    border: 3px solid goldenrod;
    opacity: .6;

}
h4{
    text-align: center;
}
img:hover{
    opacity: 1;
}
p{
    background-color: rgb(16, 123, 150);
    color: aliceblue;
    padding: 10px;
    /* text-align: center; */
    font-size: 22px;
    display: none;
    margin-bottom: 30px;
}
.psedo:hover p{
    display: block;
    width: 200px;

}