h3{
    background-color: bisque;
    font-size: 28px;
    padding: 10px;
    text-align: center;
    border-radius: 50px;
}
.center{
    width: 400px;
    background-color: burlywood;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}